body {
	background-color: #89909F;
	color: #63326E;
	text-align: center;

}

.container {
	background-color: #FFD25A;
	color: black;
	text-align: center;
}

table, th, td {
  border:1px solid white;
  background-color: #63326E;
	color: #FFD25A;
	text-align: center;
}
.navbar-custom {
    background-color: #683072 !important;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: #ffffff !important;
}

.navbar-custom .nav-link:hover {
    color: #E5D39C !important;
}

.btn-custom {
    background-color: #E5D39C !important;
    color: #000 !important; 
    border: none;
}
.index-body {
    font-family: Arial, sans-serif;
    background-image: url('https://appassets.mvtdev.com/map/41/l/1022/237346/2.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.main-cont{
    background: rgba(255, 255, 153, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.fg-cont{
    background-color: #561537; 
    padding: 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
	
}
.ticket-image {
    width: 50%;
    height: auto;
}
.form-container {
    text-align: left;
}
label, select, button, p {
    display: block;
    margin-bottom: 10px;
}
select, button {
    padding: 8px;
    font-size: 16px;
}
#fare-result {
    font-size: 20px;
    font-weight: bold;
}

