.p2-body {
   background-image: url('https://appassets.mvtdev.com/map/41/l/1022/237346/2.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    color: #63326E;
}
.main-container {
    background-color: rgba(255, 210, 90, 0.8);
    padding: 20px;
    border-radius: 10px; 
    font-family: Mukta !important;
}
.header-container {
    background-color: #683072;
    color: white !important;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-family: Mukta !important;
}
table {
    background-color: #63326E;
    color: #301934 !important;
    text-align: center;
    font-family: Mukta !important; 
}
th, td {
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}
.table thead {
    background-color: #522A5C;
}
.list-group-item{
    color: #301934 !important;
}
.navbar-custom {
    background-color: #683072 !important;
}

.navbar-custom .nav-link {
    color: #ffffff !important;
    font-family: Inconsolata !important;
}
.navbar-custom .navbar-brand {
    color: #E5D39C !important;
    font-family: Inconsolata !important;
}

.navbar-custom .nav-link:hover {
    color: #E5D39C !important;
}

.btn-custom {
    background-color: #E5D39C !important;
    color: #000 !important; 
    border: none;
}
.index-body {
    background-image: url('https://appassets.mvtdev.com/map/41/l/1022/237346/2.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.main-cont{
    font-family: Mukta !important;
    background-color: rgba(233, 236, 236, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
    width: 60%;
    margin: auto;
    margin-top: 10px;
}
.fg-cont{
    font-family: Mukta !important;
    background-color: rgb(255, 255, 153); 
    padding: 20px;
    border-radius: 8px;
    color: #301934;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
	
}
.ticket-image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
}
.form-container {
    text-align: left;
    width: 100%;
}
label, select, button, p {
    display: block;
    margin-bottom: 10px;
    font-family: Mukta !important;
}

select, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-family: Mukta !important;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#fare-result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #301934;
}
.btn-purple{
    background-color: #611143 !important;
    color: #ffffff !important;
}
footer{
    font-family: Inconsolata !important;
}
footer a{
    text-decoration: none !important;
    color: gray !important;
}
.fare-buttons {
    display: flex;
    gap: 10px; 
    justify-content: center; 
    margin-top: 1rem; 
}
.p3-body {
    background-color: #f8f9fa;
}
.container-custom {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.carousel img {
    height: 450px;
/*     object-fit: cover; */
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(50%);
}
.btn-group {
    display: flex;
    justify-content: center;
}
.btn-group label {
    margin: 2px;
}
.form-buttons {
    gap: 10px;
}

