body {
	background-color: #89909F;
	color: #63326E;
	text-align: center;

}

.container {
	background-color: #FFD25A;
	color: black;
	text-align: center;
}

table, th, td {
  border:1px solid white;
  background-color: #63326E;
	color: #FFD25A;
	text-align: center;
}
.navbar-custom {
    background-color: #683072 !important;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
    color: #ffffff !important;
}

.navbar-custom .nav-link:hover {
    color: #E5D39C !important;
}

.btn-custom {
    background-color: #E5D39C !important;
    color: #000 !important; /* Makes text readable */
    border: none;
}

